@use '/src/base';

.row{
    width: 100%;
    display: flex;
    padding-top: 10px;
    overflow: hidden;
}
.hoverContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.hoverNav{
    position: absolute;
    background-color: transparent;
    height: 20%;
}
.hoverNav:hover {
    background-color: rgb(0, 0, 0, 0.7);
}

.hoverNav.Forward{
    float: right;
    right: 2%;
}

.hoverNav.Backward{
    float: left;
    left: 2%;
}
